/.JRulesGenerator.java._trace
/.AttributesSatisfy.java._trace
/.MethodsSatisfy.java._trace
/.ComunProperties.java._trace
/.ClassesProperties.java._trace
/.ClassesSatisfy.java._trace
/.ComunSatisfy.java._trace
/.EnumSatisfy.java._trace
/.InterfaceSatisfy.java._trace
/.PackageSatisfy.java._trace
/.Satisfy.java._trace
/.AttributesSatisfy.xtendbin
/.ClassesSatisfy.xtendbin
/.ComunSatisfy.xtendbin
/.EnumSatisfy.xtendbin
/.InterfaceSatisfy.xtendbin
/.JRulesGenerator.xtendbin
/.MethodsSatisfy.xtendbin
/.PackageSatisfy.xtendbin
/AttributesSatisfy.java
/ClassesSatisfy.java
/ComunSatisfy.java
/EnumSatisfy.java
/InterfaceSatisfy.java
/JRulesGenerator.java
/MethodsSatisfy.java
/PackageSatisfy.java
/.FileSatisfy.java._trace
/.FileSatisfy.xtendbin
/FileSatisfy.java
